<div class="row justify-content-center">
   <div class="col-lg-10">
       <div class="row mt-5">
           <div class="col-lg-12 text-center">
               <h1 class="mx-auto d-block" style="font-family: Arial, Helvetica, sans-serif; font-weight: 800; font-size: 50px;color: #CBBA9C;">SHOP <font style="color: black;">THỦY SINH</font></h1>
           </div>
            <div class="col-lg-12 text-center">
                <h6>Chúng tôi luôn cung cấp cho bạn những sản phẩm tốt nhất, mang đến trải nghiệm không thể quên</h6>
            </div>
       </div>
       <div class="row mt-4">
           <div class="col-lg-3"></div>
           <div class="col-lg-6"><img src="../assets/7.jpg" alt=""></div>
           <div class="col-lg-3"></div>
       </div>
   </div>
</div>