<div class="row justify-content-center pt-4 pl-3 pr-3">
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-7">
                <table class="table" id="banggiohang">
                    <thead>
                      <tr>
                        <th></th>
                        <th>SẢN PHẨM</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listCart; let i = index" >
                            <td>
                                <div class="buttons">
                                    <button (click)="removeItem(i);"><i class="fas fa-times-circle"></i></button>
                                  </div>
                            </td>
                            <td><img [src]="'assets/' + item.image" alt="" style="width: 200px;"></td>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                        
                            <td><input type="number" [(ngModel)]="item.quality" (change)="subtotal()" style="text-align: center; width: 60px;" value="{{item.quality}}"></td>
                            <td>{{item.price*item.quality}}</td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-outline-danger" (click)="deleteCart()">Xóa Giỏ hàng</button>
            </div>
            <div class="col-lg-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th>TỔNG SỐ LƯỢNG</th>
                        <th></th>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>Giao hàng</td>
                            <td>
                                <p style="font-size: 13px;">
                                    Giao hàng miễn phí <br>
                                    Ước tính cho <strong>Việt Nam</strong> <br>
                                    Đổi địa chỉ
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Mã giảm giá: </td>
                            <td>
                                <input id="mgg" class="w-100" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>Tổng: {{total}}</td>
                            <td><strong id="tongtien"></strong> <strong>₫</strong></td>
                        </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-danger w-100 p-3" (click)="totalpay()">TIẾN HÀNH THANH TOÁN</button>
            </div>
        </div>
    </div>
</div>