<div class="row justify-content-center pt-4 pl-3 pr-3">
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-4"><h4 style="font-weight: 450;"><font style="color: gray;">TRANG CHỦ </font>/ SẢN PHẨM HOT</h4></div>
            <div class="col-lg-5 text-right">Hiện thị một kết quả duy nhất</div>
            <div class="col-lg-3">
                <select class="w-75" name="" id="hienthi" [(ngModel)]="PriceFilter" (change)="sortProduct()">
                    <option value="macdinh">Sắp xếp theo </option>
                    <option value="tangdan">GIá tiền tăng</option>
                    <option value="giamdan">GIá tiền giảm</option>
                </select>
            </div>
            
        </div>
        <div class="row mt-5">
            <div class="col-lg-3">
                <h6>DANH MỤC SẢN PHẨM</h6>
                <ul class="w-100 p-4 ul_menu" style="list-style: none;border: 1px solid #ddd; padding: 0;border-radius: 5px;">
                    <li class="pt-3 pl-3 pb-3" >Cây thủy sinh</li> <hr style="margin: 0;">
                    <li class="pt-3 pl-3 pb-3" >Phân nền</li> <hr style="margin: 0;">
                    <li class="pt-3 pl-3 pb-3" >Đèn thủy sinh</li> <hr style="margin: 0;">
                    <li class="pt-3 pl-3 pb-3">Máy lọc nước</li> <hr style="margin: 0;">
                    <li class="pt-3 pl-3 pb-3">Máy sủi oxy</li> <hr style="margin: 0;">
                    <li class="pt-3 pl-3 pb-3" >Trang trí bể cá</li> <hr style="margin: 0;">
                    <li class="pt-3 pl-3 pb-3" >Tất cả</li>
                </ul>

                <h6 class="mt-4">LỌC THEO GIÁ</h6>
                <form action="#">
                    Giá bắt đầu: <input class="w-100" type="number">
                    <hr>
                    Giá kết thúc: <input class="w-100" type="number">
                    <hr>
                    <button type="button" class="pl-4 pr-4 pt-2 pb-2 w-50 float-right" style="background-color: #cbba9c; border: none; color: aliceblue;"><strong>LỌC</strong></button>
                </form>
            </div>
            <div class="col-lg-9">
                <div class="row "  id="khungsp">
                    <!-- load sản phẩm -->
                    <div class="col-lg-12">
                        <div class="row justify-content-center">
                            <div *ngFor="let item of listProducts ;let index=index " class=" sp pl-3 pr-3 text-center pb-4 pt-4 ml-5" >
                                <div [routerLink]="'/client/detailProduct/'+(index+1)">
                                    <img [src]="'assets/' + item.image" class="w-100" alt="">
                                    <p class="mt-3"
                                        style="color: #334862;font-family: Arial, Helvetica, sans-serif;font-size: 14px;">{{item.name}}</p>
                                    <strong style="color: red;">{{item.price}}₫</strong>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>